<link rel="stylesheet" href="/public/css/createPost.css">

<div class="container">
  <h1>Create your post now</h1>
  
  <form action="/new" method="POST" id="createPost">
    <div>
      <label for = "titleID">title:</label>
      <input id = "titleID" type="text" id="titleID" name="title" placeholder="enter your title" value="{{post.text}}" class="full-width-input"/>  
    </div>
    
    <div>
      <label for = "contentID">content:</label>
      <textarea name="content" id="contentID" cols="100" rows="10"></textarea>
    </div>


    <div>
      <input type="radio" name="category" value="Automobile" /> Automobile
      <input type="radio" name="category" value="Food" /> Food
      <input type="radio" name="category" value="Course" /> Course
    </div>
    
    <button type="submit" class = "submit">submit</button>
  </form>
  <div id="error" hidden></div>
  
<ul>
  <li><a href="login">Back to Home</a></li>
</ul>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../public/js/createPost_validation.js"></script>
</div>

