

<body style="background: url(https://desk-fd.zol-img.com.cn/t_s2560x1440c5/g2/M00/04/02/ChMlWl2727CIHsZPAAekBK-8EEwAANGOwCsEGsAB6Qc949.jpg); background-size: 100%; ">

<div>
    <h1 >Welcome to Our Forum</h1>
    <a href="/login" >Log in</a>
</div>

</body>



