<link rel="stylesheet" href="/public/css/createPost.css">

<div class="container">
    <h1>Title : {{title}}</h1>
    <p>Author : {{author}}</p>
    <p>Content : {{content}}</p>
    <label for = "contentID">Write you comment:</label>
    <textarea name="content" id="contentID" cols="100" rows="10"></textarea>
    <button type="submit">comment</button>
    <a href="/">back to main page</a>
</div>
