<h1>{{title}}</h1>
<h2>{{author}}</h2>
<p>{{content}}</p>
<textarea name="comment" id="commentID" cols="30" rows="10">Wanna say anything?</textarea>
<button type="submit">comment</button>
<a href="/">back to main page</a>